@import url("forms.css");   import forms layout
*


a{ position:fixed;

   left:50px;
   font-size:17px;
   color:white;
}
#producttable{
    position: absolute;
    left:200px;
    top: 170px;


    width:500px;

}
#equipment{
    position:fixed;
    top:200px;
    left:100px;
}
#nm{
    position: fixed;
    top:120px;
    left:350px;
    background-color:rgb(40,0,0);
    color:rgb(40,0,0);
}

#nm2{
    position: fixed;
    top:120px;
    left:50px;
    background-color:rgb(40,0,0);
    color:rgb(40,0,0);
}
#login{
    position:fixed;
    top:160px;
    left:400px;
}
#b{
    width:100px;
    text-align:right;
}
productid{
    width:50px;
}

body{
    background-color:rgb(45,0,0);
    color:white;
    text-align: center;
    font-size: 17px;

}
label{
    display: inline-block;
    vertical-align: baseline;
    width: 200px;
    font-size: 15px;
}*
/* Obtained from Designmycss.com*/
table
{
    border-collapse:collapse;
    border-style:solid;
    border-width:1px;
    border-color:rgb(40,0,0);
    font:14px Georgia, serif;
    padding:0px;
    box-shadow:1px 1px 3px 1px #6E6D6D;
}

th
{

    color:#FFFFFF;
    background:#DB2C2C;
    background: -moz-linear-gradient(top,  #DB2C2C 0%, #571515 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DB2C2C), color-stop(100%,#571515));
    background: -webkit-linear-gradient(top,#DB2C2C 0%,#571515 100%);
    background: -o-linear-gradient(top,#DB2C2C 0%,#571515 100%);
    background: -ms-linear-gradient(top,#DB2C2C 0%,#571515 100%);
    background: linear-gradient(top,#DB2C2C 0%,#571515 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(40,0,0)',endColorstr='rgb(40,0,0)',GradientType=0s);
    font-weight:bold;
    padding:5px;
    text-align:center;
    vertical-align:top;
}

tr
{
    color:#000000;
    border-top-style: solid;
    border-width:1px;
    border-color:rgb(40,0,0);
    font-weight:normal;
}

tr:hover td
{
    background:#DB2C2C;
    color:#FFFFFF;
}

tr:nth-child(odd) td
{
    background:#EBEBEB;
}

tr:nth-child(odd):hover td
{
    background:rgb(40,0,0);
}

td
{
    background:#FFFFFF;
    padding:3px 5px;
    text-align:left;
    vertical-align:top;
}


