@import url("forms.css");  /* import forms layout */
*
body
{
    background-color:rgb(45,0,0);
    color:white;
    text-align: center;
    font-size: 17px;

}
ul{position:fixed;
   left:5px;

}
a{
    position:fixed;
    left:50px;

    font-size:17px;
    color:white;


}

label{
    display: inline-block;
    vertical-align: baseline;
    width: 200px;
}

input{
    display: inline-block;
    vertical-align: baseline;
    width: 300px;
}

#b{
    width:100px;
    text-align:right;
}

fieldset{
    position:absolute;
    left:300px;
    top:100px;
    text-align:right;
    margin:auto;

}
form {
    width:300px;
}
form, input {
    box-sizing: border-box;

}

label{

    font-size: 15px;
}
fieldset{
    background:rgb(40,0,0);
    text-align: left;
    margin:auto;

}
h1
{
    color:whitesmoke;
    text-align:center;
}
table{
    width:500px;
}